.centered-images {
    text-align: center;
    margin-bottom: 35px;
}

.magbar {
    width: 15%;
    display: inline-block;
    margin: 0 15px;
}

.atjc {
    width: 12%;
    display: inline-block;
    margin: 0 15px;
}