body {
    background-color: #000;
		color: white;
		animation: fadeIn .9s;
}

a {
		color: white;
		font-family: 'Oswald', sans-serif;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

